In [2]:
import pandas as pd

df=pd.read_csv(r'C:\Users\user\Desktop\my project\SQL\BTC\btc_1d_data_2018_to_2025.csv')

In [3]:
df.head()

,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,2018-01-01 00:00:00.000000 UTC,13715.65,13818.55,12750.00,13380.00,8609.915844,2018-01-01 23:59:59.999000 UTC,1.147997e+08,105595,3961.938946,5.280975e+07,0
1,2018-01-02 00:00:00.000000 UTC,13382.16,15473.49,12890.02,14675.11,20078.092111,2018-01-02 23:59:59.999000 UTC,2.797171e+08,177728,11346.326739,1.580801e+08,0
2,2018-01-03 00:00:00.000000 UTC,14690.00,15307.56,14150.00,14919.51,15905.667639,2018-01-03 23:59:59.999000 UTC,2.361169e+08,162787,8994.953566,1.335873e+08,0
3,2018-01-04 00:00:00.000000 UTC,14919.51,15280.00,13918.04,15059.54,21329.649574,2018-01-04 23:59:59.999000 UTC,3.127816e+08,170310,12680.812951,1.861168e+08,0
4,2018-01-05 00:00:00.000000 UTC,15059.56,17176.24,14600.00,16960.39,23251.491125,2018-01-05 23:59:59.999000 UTC,3.693220e+08,192969,13346.622293,2.118299e+08,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2799 entries, 0 to 2798
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Open time                     2799 non-null   object
 1   Open                          2799 non-null   float64
 2   High                          2799 non-null   float64
 3   Low                           2799 non-null   float64
 4   Close                         2799 non-null   float64
 5   Volume                        2799 non-null   float64
 6   Close time                    2799 non-null   object
 7   Quote asset volume            2799 non-null   float64
 8   Number of trades              2799 non-null   int64
 9   Taker buy base asset volume   2799 non-null   float64
 10  Taker buy quote asset volume  2799 non-null   float64
 11  Ignore                        2799 non-null   int64
dtypes: float64(8), int64(2), object(2)
memory usage: 262.5+ KB

In [5]:
df['Open time'] = pd.to_datetime(df['Open time'].str.replace(' UTC', ''))
df['Close time'] = pd.to_datetime(df['Close time'].str.replace(' UTC', ''))

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2799 entries, 0 to 2798
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Open time                     2799 non-null   datetime64[ns]
 1   Open                          2799 non-null   float64
 2   High                          2799 non-null   float64
 3   Low                           2799 non-null   float64
 4   Close                         2799 non-null   float64
 5   Volume                        2799 non-null   float64
 6   Close time                    2799 non-null   datetime64[ns]
 7   Quote asset volume            2799 non-null   float64
 8   Number of trades              2799 non-null   int64
 9   Taker buy base asset volume   2799 non-null   float64
 10  Taker buy quote asset volume  2799 non-null   float64
 11  Ignore                        2799 non-null   int64
dtypes: datetime64[ns](2), float64(8), int64(2)
memory usage: 262.5 KB

In [7]:
df.to_csv('btc_1d_data_cleaned.csv', index=False)